*,
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: black;
    overflow: hidden;
}

.kartu {
    position: relative;
    width: 500px;
    padding: 20px;
    background: rgb(24, 47, 74);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    color: white;
    display: flex;
    gap: 16px;
}

.kartu img {
    height: 350px;
    width: 250px;
    border-radius: 2rem;
}

p {
    margin-top: 10px;
}